---


---


<header>
    <nav>
        <Navigation path="/" label="Home" />
        <Navigation path="/about" label="About" />
        <Navigation path="/blog" label="Blog" />
    </nav>
    

</header>