---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---


<header>
    <nav>
        <Hamburger />
        <Navigation path="/" label="Home" />
        <Navigation path="/blog" label="Blog" />
        <Navigation path="/about" label="About" />
    </nav>
    

</header>